<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Shield AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🛡 API Shield AI</h1>

    <h2>Machine Learning Based API Anomaly Detection</h2>

    <p>
        This Flask application generates API access logs that will be
        used later for Machine Learning based anomaly detection.
    </p>

    <div class="buttons">

        <a href="/signup">
            <button>Signup</button>
        </a>

        <a href="/login">
            <button>Login</button>
        </a>

        <a href="/products">
            <button>Products</button>
        </a>

        <a href="/profile">
            <button>Profile</button>
        </a>

        <a href="/dashboard">
            <button>Dashboard</button>
        </a>

        <a href="/logout">
            <button>Logout</button>
        </a>

    </div>

    <hr>

    <h3>Available API Endpoints</h3>

    <table>

        <tr>
            <th>Endpoint</th>
            <th>Method</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>/signup</td>
            <td>POST</td>
            <td>Create New User</td>
        </tr>

        <tr>
            <td>/login</td>
            <td>POST</td>
            <td>User Login</td>
        </tr>

        <tr>
            <td>/products</td>
            <td>GET</td>
            <td>View API Services</td>
        </tr>

        <tr>
            <td>/profile</td>
            <td>GET</td>
            <td>View User Profile</td>
        </tr>

        <tr>
            <td>/dashboard</td>
            <td>GET</td>
            <td>View Dashboard Statistics</td>
        </tr>

        <tr>
            <td>/change-password</td>
            <td>POST</td>
            <td>Update User Password</td>
        </tr>

        <tr>
            <td>/api-test</td>
            <td>POST</td>
            <td>Generate API Test Requests</td>
        </tr>

        <tr>
            <td>/logout</td>
            <td>GET</td>
            <td>Logout User</td>
        </tr>

    </table>

</div>

</body>
</html>